{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Academic Details</legend>
            <div class="form-group">
                {{ form.CET_rank.label(class="form-control-label") }}
                {% if form.CET_rank.errors %}
                {{ form.CET_rank(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.CET_rank.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.CET_rank(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<div class="border-top pt-5">
    <small class="text-muted">
        To change academic details <a class="ml-2" href="{{ url_for('academic') }}">Academic</a>
    </small>
    <br>
    <small class="text-muted">
        To change Board Percentage <a class="ml-2" href="{{ url_for('BP') }}">Board Percentage</a>
    </small>
</div>
{% endblock content %}